/* MAIN WRAPPER */
.authLayout {
    display: flex;
    /* 🔥 makes left + right side by side */
    height: 100vh;
}

/* LEFT SIDE */
.left {
    flex: 1;
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CENTER CONTENT */
.centered {
    text-align: center;
}

/* RIGHT SIDE */
.right {
    flex: 1;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM */
.formContainer {
    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* INPUT */
.input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BUTTONS */
.btn {
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.primary {
    background: #2563eb;
    color: white;
    width: 20rem;
}

.primary:hover {
    transform: translateY(10px);
}

.secondary {
    background: #f59e0b;
    color: white;
    width: 20rem;
}

.secondary:hover {
    transform: translateY(10px);
}