/* TOP BAR */
.topbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e3a8a;
  color: white;
  padding: 0 20px;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  
}

/* HAMBURGER */
.hamburger {
  font-size: 24px;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100% - 60px);
  background: #2563eb;
  padding: 20px;

  transform: translateX(-100%);
  transition: 0.3s ease;
}

/* OPEN STATE */
.sidebar.open {
  transform: translateX(0);
}

/* BUTTONS */
.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background: transparent;
  color: white;
  text-align: left;
  cursor: pointer;
}

.logoutBtn {
  background: red;
  margin-top: 22rem;
  border-radius: 15px;
}

/* CONTENT AREA */
.content {
  margin-left: 0;
  padding: 20px;
  transition: 0.3s;
}

/* WHEN SIDEBAR OPEN */
.content.shifted {
  margin-left: 250px;
}